<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>BRL Crypthunt</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Google Font-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet" />
  <!-- Font Awsome -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
  <link rel="stylesheet" href="public/css/blackbox.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="public/css/styles.css" />
  <link rel="stylesheet" type="text/css" href="public/css/header.css" />
  <link rel="stylesheet" type="text/css" href="public/css/leaderboard.css" />
  <link rel="stylesheet" type="text/css" href="public/css/homepage.css" />
  <link rel="stylesheet" type="text/css" href="public/css/aboutpage.css" />
  <link rel="shortcut icon" href="public/favicon.ico.png" type="image/x-icon">
</head>

<body>
  <!-- if logged in  -->
  <div id="navbarmainwrapper">
    <% if (typeof user !='undefined' ) { %>
      <div id="logdiv">
        <ul id="logul">
          <a href="/about_us" class="ali">
            <li class="logli">About_us</li>
          </a>
          <hr>
          <a href="/logout" class="ali">
            <li class="logli">Logout</li>
          </a>
        </ul>
      </div>
      <div class="index_page_header">
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>

          <div class="menu__box">
            <li id="crypthunt_rout" class="menu__item">
              <a href="/" class="heading">Crypthunt</a>
            </li>
            <li id="blackbox_rout" class="menu__item">
              <a href="/blackbox" class="heading-side">Blackbox</a>
            </li>

            <hr class="ham_menu_hr" />
            <li class="menu__item" id="">
              <a onclick="leaderClick()" class="">Leaderboard</a>
            </li>
            <li class="menu__item" id="">
              <a href="/about_us" class="">About Us</a>
            </li>
            <hr class="ham_menu_hr" />
            <li id="" class="menu__item ham_logout">
              <a href="/logout" class="">
                Logout <i class="fa fa-solid fa-right-from-bracket"></i>
              </a>
            </li>
          </div>
        </div>
        <ul class="index_page_ul">
          <li id="crypthunt_route" class="header_li">
            <a href="/" class="heading">Crypthunt</a>
          </li>
          <li id="blackbox_route" class="header_li">
            <a href="/blackbox" class="heading-side">Blackbox</a>
          </li>
          <li class="header_title_font font_primary_title" id="font_primary_title_2">
            <a href="/" class="" class="heading">Blockverse' 23</a>
          </li>
          <div class="header_routes">
            <li class="header_li navbar-hints-section" id="leader-bar">
              <div onclick="leaderClick()" class="">Leaderboard</div>
            </li>

            <li class="header_li_2 navbar-hints-section" onclick="leaderClick(1)" onclick="hintClick()"
              id="hints-clicker">
              <p onclick="hintClick()" class="navbar-hints-label">Hints</p>
              <div id="hint_id" onclick="chbg(1)" onclick="hintClick()" class="crypthunt-hints-dropdown">
                <div class="hints-loader"></div>
              </div>
            </li>

            <li class="header_li user-greet" id="">
              <i class="fa-regular fa-user-circle"></i>
              <p>
                &nbsp; <% var full_name=user.name%>
                  <% var first_name=full_name.split(' ')[0]; %> Hi
                <%-first_name%>!&nbsp;&nbsp;
              </p>

              <svg
                onclick="logmenu()"
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                style="cursor: pointer"
                fill="currentColor"
                class="bi bi-caret-down-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
                />
              </svg>
            </li>
          </div>
        </ul>
      </div>
      <!--  -->
      <!-- -->
      <!-- else -->
      <% } else { %>
      <div class="index_page_header">
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>

          <div class="menu__box">
            <li class="menu__item" id="">
              <a href="/rules" class="ali">Rules</a>
            </li>
            <hr class="ham_menu_hr" />
            <li class="menu__item" id="">
              <!-- <a href="" onclick="leaderClick()" class="">Leaderboard</a> -->
              <div onclick="leaderClick()" class="">Leaderboard</div>
            </li>
          </div>
        </div>
        <ul class="index_page_ul">
          <li class="header_title_font font_primary_title">
            <a href="/" class="" class="heading">Blockverse' 23</a>
            </li>
            <!-- <div class="header_routes_main_page"> -->
            <li class="header_li navbar-hints-section" id="">
              <div onclick="leaderClick()" class="">Leaderboard</div>
            </li>
            <li class="header_li navbar-hints-section" id="">
              <a href="/rules" class="">Rules</a>
            </li>

            <li class="header_li navbar-hints-section" id="">
              <a href="/about_us" class="">About Us</a>
            </li>

            <li class="" id="">
              <a href="/auth/google"><button type="button" class="login_btn" id="">Login</button></a>&nbsp;
            </li>
            <!-- </div> -->
        </ul>
      </div>
      <!--  -->
      <!-- -->
  </div>
  <% } %> <%- include("./leaderboard2.ejs"); %>
</body>

</html>