<div id="wrapper">
  <div class="outl">
    <div id="leaderboardMenu">
      <h2 id="crptH" class="leaderboard_option_nav" onclick="crypthuntClick()">
        Crypthunt Leaderboard
      </h2>
      <h2 id="BbH" onclick="blackboxClick()" class="leaderboard_option_nav">
        Black Box Leaderboard
      </h2>
      <h2 id="overallH" onclick="overallClick()" class="leaderboard_option_nav">
        Overall Leaderboard
      </h2>
    </div>
  </div>
  <div id="crypthuntleaderboard">
    <div id="div1">
      <button onclick="leaderClick(1)" class="leaderboard_close_btn fa">
        <i class="fa fa-solid fa-xmark"></i>
      </button>
      <center>
        <h1 id="leaderboard_heading">Overall</h1>
      </center>
      <div id="linner">
        <table id="crypt-table">
          <tr class="cryptlrow">
            <th>RANK</th>
            <th class="">TEAM NAME</th>
            <th id="score">SCORE</th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
