<div id="wrapper">
  <div class="outl">
    <div id="leaderboardMenu">
      <h2 id="crptH">Crypthunt Leaderboard</h2>
      <h2 id="BbH">Black Box Leaderboard</h2>
      <h2 id="overallH">Overall Leaderboard</h2>
    </div>
  </div>
  <div id="crypthuntleaderboard">
    <div id="div1">
      <center>
        <h1>Crypthunt Leaderboard</h1>
      </center>
      <div id="linner">
        <table id="crypt-table">
          <tr class="cryptlrow">
            <th>POSITION</th>
            <th class="">TEAM NAME</th>
            <th class="">RANK</th>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>