<%- include("./partials/header.ejs",{name:'triyon'}); %>
<!-- <h1 style="color: white; padding-top: 5.25;">to kaise hai aap log</h1> -->

     <div id="wrapperabout" style="padding-top: 5.25rem;">
       
        <div id="aboutheading">
            <h1>Made with ❤️</h1>
        </div>
        <div id="aboutboxes">
            <div id="upperbox">
                <div class="makerdiv" id="shabaz_sir">
                    <div class="imagediv">
                        <img src="public/shabazsir.png" alt="">
                    </div>
                    <div class="namediv">
                        <p>Shahbaz Ali</p>
                    </div>
                    <div class="domaindiv" style="margin-bottom: 21px;">
                        <p> &nbsp &nbsp &nbsp Project Lead <br>
                            Backend Developer</p>
                    </div>
                </div>
                <div class="makerdiv" id="gracy">
                    <div class="imagediv">
                        <img src="public/gracy.png" alt="">
                    </div>
                    <div class="namediv"><p>Gracy Gupta</p></div>
                    <div class="domaindiv" style="margin-bottom: 31px;">
                        <p>Backend Developer</p>
                    </div>
                </div>
                <div class="makerdiv" id="jatin">
                    <div class="imagediv">
                        <img src="public/jatiin.png" alt="">
                    </div>
                    
                    <div class="namediv">
                        <p>Jatin Shankar</p>
                    </div>
                    <div class="domaindiv" style="margin-bottom: 31px;">
                        <p>Backend Developer</p>
                    </div>
                </div>
                <div class="makerdiv" id="prakher">
                    <div class="imagediv">
                        <img src="public/prakher.png" alt="">
                    </div>
                    <div class="namediv" >
                        <p> &nbsp &nbsp Prakhar <br>
                            Maheshwari</p>
                    </div>
                    <div class="domaindiv" style="margin-bottom: 31px;">
                        <p>Backend Developer</p>
                    </div>
                </div>
            </div>
            <div id="lowerbox">
                <div class="makerdiv" id="deepak">
                    <div class="imagediv">
                        <img src="public/deepak.png" alt="">
                    </div>
                    <div class="namediv">
                        <p>Deepak Jain</p>
                    </div>
                    <div class="domaindiv" style="margin-bottom: 31px;">
                        <p>Front-end Developer</p>
                    </div>
                </div>
                <div class="makerdiv" id="me">
                    <div class="imagediv">
                        <img src="public/me.png" alt="">
                    </div>
                    <div class="namediv">
                        <p>Deepanshu <br>
                            Kesarwani</p>
                    </div>
                    <div class="domaindiv" style="margin-bottom: 31px;">
                        <p>Front-end Developer</p>
                    </div>
                </div>
                <div class="makerdiv" id="yash">
                    <div class="imagediv">
                        <img src="public/yash.png" alt="">
                    </div>
                    <div class="namediv">
                        <p>Yashdeep <br>
                            &nbsp &nbsp Singh</p>
                    </div>
                    <div class="domaindiv" style="margin-bottom: 31px;">
                        <p>UI Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



<%- include("./partials/footer.ejs"); %>