<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Input Example</title>
  </head>
  <body>
    <h1>Enter Values</h1>
    <form action="/ques1" method="POST">
      <label for="num1">Number 1:</label>
      <input type="number" name="num1" id="num1"><br><br>
      <label for="num2">Number 2:</label>
      <input type="number" name="num2" id="num2"><br><br>
      <label for="num3">Number 3:</label>
      <input type="number" name="num3" id="num3"><br><br>
      <button type="submit">check combination</button>
    
     
    </form>
  </body>
</html>