<!DOCTYPE html>
<html>
<head>
  <title>Delete Team</title>
</head>
<body>
  <h1>Delete Team</h1>

  <form method="POST" action="/delete-team">
    <label for="teamName">Team Name:</label>
    <input type="text" name="teamName" id="teamName" required>
<br>
    <label for="email">Leader Email</label>
    <input type="email" name="leaderEmail" id="email" required>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
