<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Test case result</title>
  </head>
  <body>
    <li><a href="/game">crypthunt</a></li>
    <button onclick="goBack()">Go back! Try again</button>

    <script>
      function goBack() {
        window.history.back();
      }
    </script>

    <% if (testcase===3) { %>
        <h1><%= testcase %> test case passed ,Logic is correct ! </h1>
     <% } else { %>
        <h1>You have passed <%= testcase %>  test cases </h1></h1>
     <% } %>
    
  </body>
</html>