<%- include("./partials/header.ejs"); %>

<div id="gamediv">
    <h1 id="rulesheading">Level # <%-user.level%></h1>
    <div id="gameoutdiv">
        <div id="gameindiv">
            <img style="" src="private/r<%-user.level%>.png" height="100%" width="100%" />
        </div>
    </div>
    <form action="/game" method="POST" id="formdiv">
        <div id="divform">
            <input class="form-control" type="text" name="answer" placeholder="Answer" id="gameanswer">
            <div id="checkdiv">
                <button class="btn btn-dark" type="submit" id="lbutton">Check</button>
            </div>	
        </div>
    </form>
</div>
</div>

<%- include("./partials/footer.ejs"); %>
