<%- include("./partials/header.ejs"); %>
	<h1>Crypthunt Game</h1>
	<a href="/login"><btn>Login</btn></a>
	<a href="/rules"><btn>Rules</btn></a>
	<a href="/leaderboard"><btn>Leaderboard</btn></a>
<%- include("./partials/footer.ejs"); %>
