<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title>Redirect Example</title>
  </head>
  <body>
    <h1>Redirect Example</h1>
<p>Click one of the links below to redirect to a different route:</p>
   
    
  </body>
</html>
