<%- include("./partials/header.ejs"); %>

<div class="leaderboard_heading">
    <h1 id="rulesheading">ORIGINAL LEADERBOARD</h1>
  </div>  
  <div id="louter">
    <div id="linner">
      <table id="forwidth" >
        <tr style="background-color: #ee3fa2;">
          <th class="rl font rl-left rl-top">Rank</th>
          <th class="name font rl-top">Name</th>
          <th class="rl font rl-right rl-top">Level</th>
        </tr>
        
          <tr>
            <td class="rl rl-left">1</td>
            <td class="name">Archas Srivastava  </td>
            <td class="rl rl-right">13</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">1</td>
            <td class="name">AYUSH RAGHUWANSHI  </td>
            <td class="rl rl-right">13</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">Sarthak Gupta  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">Keshav Gupta  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">Kshitiz Agarwal  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">MADHUR GOEL  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">Karan Kulshrestha  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">Megha Jain  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">ANKIT SINGH  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">Simran Kukreja  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">3</td>
            <td class="name">ARJUN SINGH  </td>
            <td class="rl rl-right">12</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">Mansi Pandey  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">Aruj Bansal  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">RATNESH MISHRA  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">KARTIKEY TANDON  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">U.S. Khokhar  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">KRISH AGARWAL  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">SATYAM KUMAR  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">ANSHUMAN NANDAN  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">Prateek Chaurasia  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">UDITYA PRAKASH  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">NAVODITA  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">UDIT TYAGI  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">VINAYAK SHARMA  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">RAJAT GUPTA  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">Gaurav SINGH  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">12</td>
            <td class="name">UTKARSH SINGH  </td>
            <td class="rl rl-right">11</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">28</td>
            <td class="name">ANANT PATEL  </td>
            <td class="rl rl-right">10</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">28</td>
            <td class="name">MANISH KUMAR  </td>
            <td class="rl rl-right">10</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">28</td>
            <td class="name">PUSHKAR KHARE  </td>
            <td class="rl rl-right">10</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">28</td>
            <td class="name">SHASHWAT SINGH  </td>
            <td class="rl rl-right">10</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">DEV GOEL  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">Madhur Tyagi  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">Hardik Agarwal  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">Shivam Singh  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">DIVYANSHU RANA  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">Divya Maddheshiya  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">Siddhant Mangal  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">32</td>
            <td class="name">ANUSHKA SARASWAT  </td>
            <td class="rl rl-right">9</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">40</td>
            <td class="name">NIKHIL MISHRA  </td>
            <td class="rl rl-right">8</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">40</td>
            <td class="name">Manas Mishra  </td>
            <td class="rl rl-right">8</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">40</td>
            <td class="name">Vishesh Singh  </td>
            <td class="rl rl-right">8</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">40</td>
            <td class="name">UTKARSH AGRAWAL  </td>
            <td class="rl rl-right">8</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">40</td>
            <td class="name">ASHUTOSH KUMAR KUSHWAHA  </td>
            <td class="rl rl-right">8</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">40</td>
            <td class="name">Samridh Garg  </td>
            <td class="rl rl-right">8</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">46</td>
            <td class="name">VEDIC AGARWAL  </td>
            <td class="rl rl-right">5</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">46</td>
            <td class="name">Abhigyan Shukla  </td>
            <td class="rl rl-right">5</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">48</td>
            <td class="name">Janmejay Singh  </td>
            <td class="rl rl-right">4</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">49</td>
            <td class="name">Abhishek Gupta  </td>
            <td class="rl rl-right">3</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">49</td>
            <td class="name">Abhishek Gupta  </td>
            <td class="rl rl-right">3</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">49</td>
            <td class="name">Harshit Patel  </td>
            <td class="rl rl-right">3</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">52</td>
            <td class="name">Sameer Chhonkar  </td>
            <td class="rl rl-right">2</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">52</td>
            <td class="name">Shashwat Pandey  </td>
            <td class="rl rl-right">2</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Apoorv Maheshwari  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Navodita  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Astha Tripathi  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">PRAKHAR MAURYA  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">yash jaiswal  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Uday Rathee  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Remi Note  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Satyam Singh  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">hell raiser  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Shashwat Singh  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Kush Agarwal  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Love Agarwal  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">54</td>
            <td class="name">Shahbaz  </td>
            <td class="rl rl-right">1</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">67</td>
            <td class="name">ADMIN 2  </td>
            <td class="rl rl-right">0</td>
          </tr>
        
          <tr>
            <td class="rl rl-left">67</td>
            <td class="name">Shahbaz (Admin)  </td>
            <td class="rl rl-right">0</td>
          </tr>
        
        <tr>
          <td class="rl rl-left rl-bottom"></td>
          <td class="name rl-bottom"></td>
          <td class="rl rl-right rl-bottom"></td>
        </tr>
      </table>
    </div>
  </div> 


<%- include("./partials/footer.ejs"); %>

