<<<<<<< HEAD
<%- include("./partials/header.ejs"); %>
    <!-- Below component to blur background while leaderboard is open -->
    <div id="background-blur-outer">

    </div>
    <div style="padding-top: 60px;">
        <h2>Team Registration</h2>
        <form action="/register" method="post">
            <label for="team_name">Team_Name</label>
            <input type="text" name="team_name" id="" placeholder="team_name"><br>
            <label for="leader_name">Leader_Name</label>
            <input type="text" name="leader_name" placeholder="leader_name"><br>
            <label for="leader_email">Leader_Email</label>
            <input type="text" name="leader_email" placeholder="leader_email"><br>
            <label for="member_name">Member_Name</label>
            <input type="text" name="member_name" placeholder="member_name"><br>
            <label for="member_email">Member_Email</label>
            <input type="text" name="member_email" placeholder="member_email"><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <%- include("./partials/footer.ejs"); %>
=======
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>Team Registration</h3>
    <form action="/register" method="post">
        <input type="text" name="team_name" id="" placeholder="team_name">
        <input type="text" name="leader_name" placeholder="leader_name">
        <input type="text" name="leader_email" placeholder="leader_email">
        <input type="text" name="member_name" placeholder="member_name">
        <input type="text" name="member_email" placeholder="member_email">
        <button type="submit">Submit</button>
    </form>

</body>

</html>
>>>>>>> fdb99a89ad037bc9386e6d00a89189f43e103c6e
