<%- include("./partials/header.ejs"); %>
	<!-- Below component to blur background while leaderboard is open -->
	<div id="background-blur-outer">

	</div>
	<h1 id="rulesheading">Rules</h1>
	<div id="rulesdiv">
		<div id="boxdiv">
			<ul id="rulesul">
				<li class="rulesli">
					<i class="fa fa-play fa-solid rules-bullet"></i>
					The number of questions is limited so solve the questions in the quickest possible time.
				</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>You need to solve the prior question
					to attempt the succeeding question.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Answers will always be lower-case,
					alphanumeric and will contain no spaces. Special characters except underscore are not allowed. If
					your answer is "BRL lab 2" then you have to submit "brllab2".
				</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>The marking is done as per the
					questions attempted by the candidate and no partial marking will be considered. All the questions
					will carry equal weightage.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Brute Forcing the solution using
					software is not permitted. Your IP will be blocked if any such activity is found.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Team participation is allowed.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Sharing answers with other teams,
					hint sharing and collaborating with other competitors in general are not allowed and any such
					evidence can lead to disqualification.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Beware of spellings of the answers
					you enter because we do not have an autocorrect feature.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Every clue in the question is
					important and relevant to the answer.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Any one person's id in a team can be
					used to log in to the portal at a given particular time just to avoid multiple logins from a
					specified team at the same time.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Read the Instructions before solving
					a question.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>Format of answer is a mathematical
					expression using the given variables in the question and allowed mathematical operators.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>The in-between the switching of
					Crypthunt and Blackbox portal is allowed.
				</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>The variable used in the question
					has to be strictly used to answer the question and form the expression.</li>
				<hr class="rulesul-hr">
				<li class="rulesli"><i class="fa fa-play fa-solid rules-bullet"></i>In case of any dispute, the decision
					of the society will be final and binding.</li>
			</ul>
		</div>
	</div>
	</div>

	<%- include("./partials/footer.ejs"); %>