<%- include("./partials/header.ejs"); %>
<h1 id="rulesheading">Rules</h1>
<div id="rulesdiv">
	<div id="boxdiv">
		<ul id="rulesul">
			<li class="rulesli">Number of questions are limited! Solve all the questions as quickly as possible!</li><hr>
			<li class="rulesli">There would be N questions and you can proceed to the next question only after answering one question right and so on.</li><hr>
			<li class="rulesli">Answers will always be lower-case, alphanumeric and will contain no spaces. Special characters are not allowed. If your answer is "Hello world 2" then you have to submit "helloworld2"</li><hr>
			<li class="rulesli">Brute Forcing the solution using software is not an option. Your IP will be blocked if found doing so."</li><hr>
			<li class="rulesli">This is an individual event. Only single participation is allowed.</li><hr>
			<li class="rulesli">Team play, answer sharing, hint sharing and collaborating with other competitors in general is not allowed and any such evidence can lead to disqualification.</li><hr>
			<li class="rulesli">Beware of the spelling you enter, we do not autocorrect.</li><hr>
			<li class="rulesli">Every clue in the question is important.</li><hr>
			<li class="rulesli">One person can play on only one account. If found playing with multiple accounts, the person will be disqualified automatically. </li><hr>
			<li class="rulesli">In case of any dispute, the decision of the society will be final and binding.</li>
		</ul>
	</div>
</div>
</div>

<%- include("./partials/footer.ejs"); %>
