<%- include("./partials/header.ejs"); %>
<h1 id="rulesheading">Rules</h1>
<div id="rulesdiv">
	<div id="boxdiv">
		<ul id="rulesul">
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li><hr>
			<li class="rulesli">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas dolorem facere, officia similique nihil sit enim consectetur consequatur incidunt voluptas!</li>
		</ul>
	</div>
</div>
</div>

<%- include("./partials/footer.ejs"); %>
