@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=IBM+Plex+Sans:wght@500&family=Inter:wght@500&family=Montserrat:wght@500&family=Open+Sans:wght@500&family=Orbitron:wght@400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,500&family=Work+Sans:wght@500&display=swap");

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  font-size: 20px;
}
.blackboxHistory::-webkit-scrollbar {
  width: 6px;
}
.blackboxHistory::-webkit-scrollbar-thumb {
  /* background-color: #555; */
  border-radius: 20px;
  /* border: 4px solid #555; */
  background: rgba(255, 255, 255, 0.77);
}
.blackboxHistory::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* font-family: "Orbitron", sans-serif; */
  /* list-style-type: none; */
}
body {
  background-image: url("../blackbox_bg.png");
  background-size: cover;
  color: white;
}

/* Section below NavBar */
.time-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem 0.5rem;
}

#level-head {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  padding-top: 105px;
  padding-bottom: 25px;

  display: flex;
  align-items: center;
  text-align: center;

  justify-content: center;
  color: #ffffff;
}

.inputField {
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border-radius: 55px;
  /* padding: 2rem 4rem; */
  width: 29.18rem;
  height: 15.12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputField input {
  height: 1.81rem;
  width: 6.5rem;
  background: #d9d9d9;
  border-radius: 6px;
  text-align: center;
}
.ansBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 0;
}
.pinkBtn {
  background: #ee3fa2;
  border: 1px solid #ffffff;
  border-radius: 35px;
  /* padding: 2; */
  width: 20.18rem;
  height: 3.02rem;
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
  margin: auto;
  position: relative;
  top: 1rem;
}
.question {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}
.form {
  display: flex;
  flex-direction: column;
}
#inputRound {
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 73px;
  width: 18.25rem;
  height: 3.02rem;
  text-align: center;
  color: white;
  position: relative;
  top: 2rem;
}
.inputRound::placeholder {
  color: white;
}
.blackbox-input-part,
.blackbox-check-part {
  /* margin-top: 60px; */
  display: flex;
  /* z-index: -3; */
  /* gap: 10px; */
  /* height: calc(100vh - 160px); */
  align-items: center;
  flex-direction: row;
  /* max-width: 90vw; */
  justify-content: space-between;
}

.input-part-inner {
  border-radius: 28px;
  max-width: 468px;
  width: 468px;
  /* width: 100%; */
  height: 270px;
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.101);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  height: 90%;
  align-items: center;
  width: 90%;
  /* background-color: aqua; */
  margin-top: 1rem;
  overflow-y: scroll;
  /* padding: 1rem; */
}
.flex-center::-webkit-scrollbar {
  width: 7px;
  /* height: 30%; */
}
.flex-center::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.77);
}
.flex-center::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 20px;
}
.input-part-inner h1 {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-top: 26px;
}
.input-label {
  /* font-size: 16px;
  font-weight: 500; */
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.blackbox-btn {
  width: 323px;
  height: 50px;
  left: 871.52px;
  margin: auto;
  /* top: 523px; */
  /* margin-top: 42px; */
  background: #ee3fa2;
  border: 1px solid #ffffff;
  border-radius: 35px;
  font-family: "Orbitron";
  color: white;
  font-size: 19px;
}
.blackbox-btn:hover {
  cursor: pointer;
  border: 2px solid white;
}
.blackbox-user-interface {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* border: 1px solid white; */
  row-gap: 4%;
  grid-column-start: 2;
  margin-bottom: 16px;
}

.input-input {
  background: #d9d9d9;
  border-radius: 6px;
  width: 104px;
  height: 29px;
  text-align: center;
  border: none;
}
.inputs-list {
  padding-top: 5rem;
  display: grid;
  gap: 23px 20px;
  grid-template-columns: auto auto;
  /* margin-bottom: 12px; */
  /* overflow-y: scroll; */
}
/* .inputs-list::-webkit-scrollbar{

} */
.check-part-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.no_combinations_tried {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;
}
.check-part-inner label {
  font-size: 20px;
  font-weight: 700;
  /* margin-top: 72px; */
}
.check-part-inner input {
  color: white;
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border: 1px solid rgba(48, 48, 48, 0.205);
  border-radius: 28px;
  width: 290px;
  height: 50px;
  color: white !important;
  /* margin-top: 45px; */
  text-align: center;
}

.history-list-container {
  /* z-index: -3; */
  margin: auto;
  user-select: none;
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);

  border-radius: 28px;
  max-width: 468px;
  border: 1px solid rgba(255, 255, 255, 0.101);
  width: 90vw;
  height: 175px;
  /* margin: auto; */
  /* margin-top: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.history-list {
  list-style-type: none;
  overflow-y: scroll;
  height: 100%;
  padding: 0 96px;
  max-height: 93px;
  padding-left: 71px;
  list-style-type: disc !important;
  margin-right: 25px;
}
.history-list-item {
  margin: 6px 0;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 30px;
}
@media screen and (max-width: 950px) {
  /* .blackbox-user-interface { */
  /* flex-direction: column; */
  /* } */
  #level-head h1 {
    font-size: 24px;
  }
  #level-head {
    padding-top: 120px;
  }
  .blackbox-user-interface {
    grid-template-columns: auto;
  }
  .instruction-part {
    order: -2;
  }
  .input-part-inner {
    order: -1;
  }
  .check-btn-1 {
    order: 3;
  }
  .history-list-container {
    order: 3;
  }
  .check-btn-2 {
    order: 6;
  }
  .submit-answer-part {
    order: 5;
  }
}
#background-blur-outer {
  /* content: ""; */
  display: none;
  z-index: 9;
  /* overflow-y: scroll; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    120.21deg,
    rgba(44, 45, 77, 0.7) 18.15%,
    rgba(36, 37, 61, 0.6) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(4px);
}
.instruction-head {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 800;

  margin-top: 26px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
}
.instruction-li {
  font-family: "Orbitron";
  font-style: normal;
  margin: 2px;

  margin-left: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 30px;
}
.instruction-part {
  border-radius: 28px;
  max-width: 468px;
  width: 468px;
  /* order: -1; */
  height: 270px;
  margin: auto;
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12.5px);
  border-radius: 28px;
  border: 1px solid rgba(255, 255, 255, 0.101);
  display: flex;
  flex-direction: column;
}
.history-list-container label {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-top: 40px;
  line-height: 24px;
}
.submit-answer-part {
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  margin: auto;

  border-radius: 28px;
  max-width: 468px;
  width: 90vw;
  height: 175px;
  /* margin-top: 40px; */
  border: 1px solid rgba(255, 255, 255, 0.101);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.submit-answer-part label {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-top: 36px;
  line-height: 24px;
}
.submit-answer-part input {
  background: linear-gradient(
    120.21deg,
    rgba(65, 67, 100, 0.041) 82.15%,
    rgba(99, 101, 148, 0.04) 18.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border: none;
  width: 292px;
  height: 58.2px;
  margin-top: 30px;
  border-radius: 73px;
  text-align: center;
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
.submit-answer-part input:focus {
  color: #ffffff;
}
@media screen and (max-width: 1080px) {
  /* .input-part-inner {
  } */
  .instruction-part,
  .input-part-inner,
  .check-btn-1,
  .history-list-container,
  .check-btn-2,
  .submit-answer-part {
    transform: scale(0.85);
  }
  .blackbox-user-interface {
    row-gap: 2%;
  }
}
