*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#homeboxdiv{
    display: flex;
    /* background-color: yellowgreen; */
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5.375rem;
}

.homebox{
    /* background-color: wheat; */
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.313rem solid white;
    border-radius: 1.813rem;

}
.fonthomediv{
    font-family: Orbitron;
    font-size: 1.563rem;
    font-weight: 500;
}
#homebutdiv{
    /* align-items: center; */
    text-align: center;
    margin-top: 5.063rem;
    
}
#homebutdiv button{
    width:15.438rem;
    height: 3.935rem;
    border-radius: 0.688rem;
    border: 0.125rem solid white;
    background-color: #EE3FA2;
    font-family: Orbitron;
    font-size: 1.25rem;
    font-weight: 800;
    color: white;
}
.homebox:hover{
    backdrop-filter: blur(10px);
    background-color: rgba(238, 63, 162, 0.46);
}