@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  display: none;
  position: absolute;
  position: fixed;
  z-index: 100;
  top: 60px;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
.outl {
  width: 100vw;
  height: 70px;
  display: flex;

  justify-content: center;
  align-items: center;
}
/* .leaderboard_option_nav {
  font-size: 22px;
  font-weight: 900;
} */
#leaderboardMenu {
  width: 90%;
  color: white;
  height: 100%;
  text-align: center;
  max-width: 1313px;
  font-family: "Rubik";
  font-weight: 900;
  /* font-size: 22px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 55px;

  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 55px;
}
#crypthuntleaderboard {
  font-family: "Rubik";
  font-style: Medium;
  width: 100vw;
  height: 80vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#leaderboardMenu h2:hover {
  color: #ee3fa2;
}
#div1 h1 {
  color: #ee3fa2;
}
#leaderboard_heading {
  margin-top: 26px;
  font-family: "Orbitron";
}
#div1 {
  width: 50%;
  height: 90%;
  border-radius: 2rem;
  backdrop-filter: blur(15px);
  background: linear-gradient(
    120.21deg,
    rgba(99, 101, 148, 0.4) 18.15%,
    rgba(55, 57, 92, 0.1) 82.15%
  );
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);

  border-radius: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#linner {
  margin: 8px 0;
  width: 88%;
  overflow-y: scroll;
}
#linner::-webkit-scrollbar {
  /* display: none; */
  margin-left: 5px;
  width: 6px;
  /* border-radius: 20px; */
}
/* #crossBUt :hover{
  color: #ee3fa2;
  background-color: #ee3fa2;
} */
#div1 i:hover {
  background-color: #ee3fa2;
  /* border-radius: 110px; */
}
#linner::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.77);
}
#linner::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 20px;
}
.cryptlrow {
  line-height: 300%;
}
.cryptlrow th {
  font-size: 19px;
}
.cryptrow {
  line-height: 300%;
}
#crypt-table {
  width: 100%;
}
.cryplColumn {
  text-align: center;
}

.leaderboard_option_nav {
  font-size: 22px;
  font-family: "Rubik";
}
.leaderboard_option_nav:hover {
  cursor: pointer;
}
.leaderboard_close_btn {
  position: absolute;
  right: 35px;
  top: 35px;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
  color: rgb(227, 227, 227);
}
@media screen and (max-width: 980px) {
  .leaderboard_option_nav {
    font-size: 18px;
  }
  #div1 {
    width: 80%;
  }
  #div1 h1 {
    font-size: 22px;
    font-family: "Orbitron";
  }
}
