*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    /* background-image: url("../main_background.png"); */
    display: block;
    position: absolute;
    z-index: 100;
    top: 5rem;
    width: 100%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}
.outl{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leaderboardMenu{
    width: 90%;
    color: white;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
    backdrop-filter:blur(15px);
    background-color: rgba(99, 101, 148, 0.4);

}
#crypthuntleaderboard{
    Font-family: Rubik;
    Font-style: Medium;
    width: 100vw;
    height: 90vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leaderboardMenu h2:hover{
  color: #EE3FA2;
}
#div1 h1{
    color: #EE3FA2;
}
#div1{
    width: 50%;
    height: 90%;
    border-radius: 2rem;
    backdrop-filter:blur(15px);
    background-color: rgba(99, 101, 148, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;


}
#linner{
    width: 100%;
}
.cryptlrow{
    line-height: 300%;
}
#crypt-table{
    width:100%;
}
.cryplColumn{
    text-align: center;
}

