/*FRONT CSS*/
body{
  background-color: #17132a;
}

#logdiv {
  background-color: #17132a;
  border: 4px solid white;
  width: 16%;
  color: white;
  position: absolute;
  top: -200px;
}
#logul {
  padding: 4px;
  margin: 0px;
  font-family: 'Orbitron', sans-serif;
  list-style-type: none;
}
.logli {
  padding: 10px 0px;
  text-align: center;
  font-size: 16px;
}
.logli:hover{
  background-color: #ee3fa2;
}
#background {
  /* background-image: url("../IMG-20220410-WA0000.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#menudiv {
  background-color: #17132a;
  height: 10vh;
  display: flex;
  align-items: center;
}
#fulldiv {
  width: 100%;
  font-size: 20px;
  display: flex;
  font-family: 'Orbitron', sans-serif;
}
#menuul {
  width: 76%;
  padding-left: 2%;
  margin: 0px;
  list-style-type: none;
  overflow: auto;
}
.menuli {
  width: 36%;
  text-align: center;
  float: left;
}
#menuliwidth1{
  width: 20%;
}
#menuliwidth2{
  width: 28%;
}
.ali {
  color: white;
  text-decoration: none;
}
.ali:hover {
  color: white;
  text-decoration: none;
}
#hidiv {
  padding-right: 2%;
  width: 20%;
  color: white;
  text-align: right;
}

.playbutton{
  padding-right: 2%;
  width: 20%;
  color: white;
  text-align: right;
}

#maindiv {
  padding: 10vh 0vw;
}
#imgoutdiv {
  padding: 6vh 0vw;
  display: flex;
  justify-content: center;
}
#imgindiv {
  height: 80px;
  width: 740px;
  font-size: 0px;
}
#imgchange3{
  border-radius: 60px;
}
#headingdiv {
  height: 28vh;
  display: flex;
  align-items: center;
}
#mainheading {
  width: 100%;
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
}
#buttondiv {
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.lbutton {
  background-color: #ee3fa2;
  border: 6px solid #17132a;
  border-radius: 10px;
  padding: 8px 30px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  outline-color: white;
  outline-width: 1px;
  outline-style: solid;
}
.lbutton:hover{
  background-color: #ee3fa2;
  border-color: #17132a;
}
#lbutton3 {
  background-color: #ee3fa2;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
}

#fouter {
  display: flex;
  justify-content: center;
}
#finner {
  width: 850px;
  padding: 0vh 4vw 4vh;
  color: white;
}
#fh1 {
  padding: 4vh 0vw;
  margin: 0px;
  font-size: 30px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
.qdiv {
  padding: 2vh 0vw;
  font-size: 24px;
  font-family: 'Orbitron', sans-serif;
}
.fpara {
  margin: 0px;
  display: inline;
  cursor: pointer;
}
.plus {
  font-size: 24px;
  color: #ee3fa2;
}
.adiv {
  padding: 2vh 0vw;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
}
hr {
  border: 1px solid white;
  margin: 0px;
}
#last {
  padding: 0% 2%;
  height: 20vh;
  display: flex;
  align-items: center;
}
#forcenter {
  width: 100%;
  display: flex;
  justify-content: center;
}
#left {
  border: 2px solid white;
  width: 600px;
}
#contact {
  background-color: white;
  color: #17132a;
  text-align: center;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}
#icons {
  padding: 0% 2%;
  background-color: #17132a;
  color: white;
  display: flex;
  justify-content: space-between;
}
.inline {
  display: inline-block;
}
/*RULES CSS*/
#rulesheading {
  padding: 14vh 0vw 4vh 0vw;
  margin: 0px;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: 'Orbitron', sans-serif;
}
#rulesdiv {
  padding-bottom: 4vh;
  display: flex;
  justify-content: center;
}
#boxdiv {
  width: 850px;
  border: 2px solid white;
  outline-color: #ee3fa2;
  outline-width: 4px;
  outline-style: solid;
  border-radius: 30px;
  padding: 20px 20px 20px 0px;
}
#rulesul {
  margin: 0px;
}
.rulesli {
  padding: 10px 0px;
  color: white;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
}
/*GAME CSS*/

/*TIMER*/
#outercountdown{
  width: 140px;
  height: 80px;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  background-color: #ee3fa2;
  border: 4px solid #17132a;
  outline-color: white;
  outline-width: 4px;
  outline-style: solid;
  position: fixed;
  top: 22vh;
  right: 3%;
}
.count{
  font-weight: bold;
  text-align: center;
  color: white;
}
#smallcount{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#counter{
  background-color: #ee3fa2;
  padding: 2px 0px;
  width: 200px;
  border: 4px solid #17132a;
  outline-color: white;
  outline-width: 4px;
  outline-style: solid;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

#gameoutdiv {
  display: flex;
  justify-content: center;
}
#gameindiv {
  height: 520px;
  width: 520px;
  font-size: 0px;
}
#formdiv {
  height: 26vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#divform {
  width: 360px;
}
#gameanswer {
  width: 100%;
}
#checkdiv {
  padding: 4vh 0vw;
  display: flex;
  justify-content: space-around;
}
/*LEADERBOARD CSS*/
#louter {
  display: flex;
  justify-content: center;
  padding-bottom: 4vh;
}
#linner {
  width: 850px;
  border-radius: 30px;
  font-family: 'Orbitron', sans-serif;
}
#forwidth {
  border-spacing: 0px;
  width: 100%;
}
table {
  border-collapse: separate;
}
/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 30px;
}
/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 30px;
}
/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 30px;
}
/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 30px;
}
.rl {
  border: 2px solid #ffff;
  width: 10%;
  padding: 2vh 0vw;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
.rl-left {
  border-left: 4px solid #ffff;
}
.rl-right {
  border-right: 4px solid #ffff;
}
.rl-top {
  border-top: 4px solid #ffff !important;
}
.rl-bottom {
  border-bottom: 4px solid #ffff !important;
}
.name {
  border: 2px solid #fff;
  width: 60%;
  padding: 2vh 0vw;
  color: white;
  text-align: center;
  box-sizing: border-box;
}
.font {
  font-size: 26px;
  padding: 2vh 0vw;
}
@media screen and (max-width: 1200px) {
  /*FRONT RESPONSIVE*/
  #mainheading{
    font-size: 46px;
  }
  #finner {
    width: 850px;
  }
  /*RULES RESPONSIVE*/
  #boxdiv {
    width: 850px;
  }
  /*GAME RESPONSIVE*/
  #gameindiv {
    height: 520px;
    width: 520px;
    font-size: 0px;
  }
  /*LEADERBOARD RESPONSIVE*/
  #linner {
    width: 850px;
  }
}
@media screen and (max-width: 928px) {
  /*FRONT responsive*/
  #fulldiv {
    font-size: 18px;
  }
  #mainheading {
    font-size: 36px;
  }
  .qdiv {
    font-size: 18px;
  }
  .plus {
    font-size: 18px;
  }
  .adiv {
    font-size: 14px;
  }
  #finner {
    width: 760px;
  }
  /*RULES RESPONSIVE*/
  #boxdiv {
    width: 760px;
  }
  /*GAME RESPONSIVE*/
  #outercountdown{
    font-size: 16px;
    height: 60px;
    width: 120px;
    right: 2%;
  }
  /*LEADERBOARD RESPONSIVE*/
  #linner {
    width: 760px;
  }
}
@media screen and (max-width: 838px) {
  /*FRONT RESPONSIVE*/
  #logdiv {
    width: 20%;
  }
  #fulldiv {
    font-size: 14px;
  }
  #menuul{
    width: 74%;
  }
  #hidiv{
    width: 22%;
  }
  #fh1{
    font-size: 24px;
  }
  #finner {
    width: 95%;
  }
  #left{
    width: 540px;
    font-size: 14px;
  }
  #imgindiv{
    height: 50px;
    width: 520px;
  }
  /*RULES RESPONSIVE*/
  #rulesheading {
    font-size: 42px;
  }
  #boxdiv {
    width: 95%;
  }
  .rulesli {
    font-size: 16px;
  }
  /*GAME RESPONSIVE*/
  #gameindiv {
    height: 400px;
    width: 400px;
    font-size: 0px;
  }
  #divform{
    width: 280px;
  }
  /*LEADERBOARD RESPONSIVE*/
  #linner {
    width: 95%;
  }
}
@media screen and (max-width: 740px) {
  #outercountdown{
    display: none;
  }
}
@media screen and (max-width: 630px) {
  /*FRONT RESPONSIVE*/
  #menuul {
    background-color: #17132a;
    padding: 0% 4%;
    height: 90vh;
    width: 62%;
    position: absolute;
    left: -70%;
    top: 10vh;
  }
  .menuli {
    border-bottom: 4px solid white;
    width: 100%;
    padding: 10px 0px;
    text-align: left;
  }
  #menuliwidth1 {
    width: 100%;
  }
  #menuliwidth2 {
    width: 100%;
  }
  #menubutton {
    width: 36%;
    padding-left: 2%;
    color: white;
    font-size: 16px;
  }
  #hidiv {
    width: 62%;
  }
  #mainheading {
    font-size: 30px;
  }
  #cross {
    padding: 1ppx 0px;
    color: white;
    text-align: right;
    font-size: 16px;
  }
  #finner {
    width: 95%;
  }
  .iconremove{
    display: none;
  }
  #left{
    width: 200px;
  }
  #icons{
    padding: 0% 0%;
    justify-content: space-evenly;
  }
  #imgindiv{
    width: 200px;
    height: 60px;
  }
  #imgchange3{
    display: none;
  }
  /*RULES RESPONSIVE*/
  #rulesheading{
    font-size: 32px;
  }
  #boxdiv {
    width: 95%;
  }
  /*GAME RESPONSIVE*/
  #gameindiv {
    height: 360px;
    width: 360px;
    font-size: 0px;
  }
  #counter{
    width: 170px;
    font-size: 14px;
  }
  /*LEADERBOARD responsive*/
  .font{
    font-size: 20px;
  }
  #linner {
    width: 95%;
  }
}
@media screen and (max-width: 460px) {
  /*FRONT RESPONSIVE*/
  #logdiv {
    width: 30%;
  }
  #mainheading{
    font-size: 26px;
  }
  #finner {
    width: 95%;
  }
  #fh1 {
    font-size: 22px;
  }
  .qdiv {
    font-size: 16px;
  }
  .plus {
    font-size: 16px;
  }
  .adiv {
    font-size: 12px;
  }
  /*RULES RESPONSIVE*/
  #rulesheading {
    font-size: 28px;
  }
  .rulesli {
    font-size: 14px;
  }
  #boxdiv {
    width: 95%;
  }
  /*GAME RESPONSIVE*/
  #gamediv{
    height: 100vh;
  }
  #gameindiv {
    height: 280px;
    width: 280px;
    font-size: 0px;
  }
  /*LEADERBOARD RESPONSIVE*/
  .font {
    font-size: 18px;
  }
  #linner {
    width: 95%;
  }
}
@media screen and (max-width: 352px) {
  /*FRONT RESPONSIVE*/
  #removemenu {
    display: none;
  }
  #menuul{
    font-size: 12px;
  }
}
@media screen and (min-width: 631px) {
  /*FRONT RESPONSIVE*/
  #menubutton {
    display: none;
  }
  #cross {
    display: none;
  }
  .menuli:hover{
    background-color: #ee3fa2;
    border: 1px solid white;
    border-radius: 10px;
  }
  #imgchange{
    display: none;
  }
}
@media screen and (min-width: 741px) {
  #smallcount{
    display: none;
  }
}